<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="" class="navbar-brand">Social App</a>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto">
        <li>
          <a href="" class="nav-link">Home</a>
        </li>
        <li>
          <a href="" class="nav-link">Users</a>
        </li>
        <li>
          <a href="" class="nav-link active">Messages</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li>
          <a href="" class="nav-link active">Login</a>
        </li>
        <li>
          <a href="" class="nav-link">Register</a>
        </li>
        <li>
          <a href="" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
